* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  /* font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
      Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif; */
  /* background-color: azure; */
}

.content {
  /* margin: 0px 70px; */
  /* background-color: rgb(176, 176, 177); */
  /* padding: 0px 20px; */
}
@media (max-width: 600px) {
  .content{
  background-color: #F2F2F2;
  }
}
.homeTitle {
  padding-top: 30px;
}